
@{
  Layout = "_Layout";
}
@using Restaurant.Models;
@model List<Restaurant.Models.Store>;
@if (@Model.Count == 0)
{
    <h4>There are no restaurants at this time</h4>
} else
{
    <h1>All Restaurants</h1>
    <ul>
    @foreach (Store store in Model)
    {
        <h3><li>@Html.ActionLink($"{store.Name}", "Show", "Store",new {id = store.StoreId})</li></h3>
    }
    </ul>
}
<a href="/Store/Create">Add Restaurant</a>
@Html.ActionLink("Alphabetize","Alphabetize")

<a href="/">Back to homepage</a>