@{
  Layout = "_Layout";
}
@model Restaurant.Models.Cuisine

<h3>Add a New Type of Cuisine:</h3>

@using (Html.BeginForm())
{
  <br>
  @Html.LabelFor(model => model.DishType)
  @Html.TextBoxFor(model => model.DishType, new { @class = "form-control" })
  <br>
  <input type="submit" value="Add Cuisine" />
}

@Html.ActionLink("Back to Cuisine", "Index")